.createTodoButton{
    position: fixed;
	bottom: 40px;
	right: 40px;
    font-size: 50px;
    background: none;
    border: 1px solid black;
    border-radius: 100%;
    width: 60px;
    background-color: aquamarine;
    cursor: pointer;
}